[2020-05-22 12:56] vivaLaChoco opened #3 "Incorrect work on android"
when I clicked Ok at dialog, then picker opens multiple times and doesn't close, i can do it only by clicking on Ok button
and I can't see action for Cancel button, and can't setVisible for modal like "false" value and modal always visible.
please help

[2020-05-22 13:32] gusparis commented on #3
I’ll check it

[2020-05-22 23:01] gusparis commented on #3
@vivaLaChoco can you share the piece of code where you are using the component? I'm not able to reproduce that behavior in the example. Also, for the cancel button action, I didn't want to add a lot of different props for iOS and Android, so the actions can be caught through the `event`. eg. in Android you have these two events:
[code]
Please let me know if that works for you.

[2020-05-25 01:46] Zonfer commented on #3
UP ip. This problem was fixed? I have the same issue

[2020-05-25 03:04] gusparis commented on #3
Just did an update to the readme's usage section with a working example. Can you guys try it?

[2020-05-25 12:46] vivaLaChoco commented on #3
after click on "Ok" button  it works fine, thank you
as I understand, onChange doesn't call, when event is "dismissedAction", that's why flag "show" is true, and when you clicked on button "Open picker", picker wouldn't open
and I can't understand, why. Can you help me please?

[2020-05-25 23:11] gusparis commented on #3
The onChange method returns an event and the selected date. If the dialog was canceled, the event will be “dismissedAction”. You can perform the a check (a switch if you like) to trigger needed actions. eg
[code]
Notice that when event is other than `ACTION_DATE_SET`, newDate will be `undefined`.

[2020-05-28 03:08] Zonfer commented on #3
I'm testing and the example at the README's section work's fine with function setShow. But still have a litle bug with close and open modal events. ACTION_DATE_SET, and ACTION_DISMISSED, doesn't exist theses events.

[2020-05-30 02:25] Zonfer opened #4 "Has any event to listen when modal is going to close?"
Is there an event that is fired when modal was closed?
Clicking on the button Ok, or Cancel from the onChange function it's ok and changes the value. But when you click outside of the modal, and the modal was closed without clicking on button Cancel our Ok,  i am no longer able to open the modal and select a new date. Help

[2020-05-30 02:44] Zonfer commented on #4
In Modal from React Native has a event named onRequestClose. Maybe if you find out it works

[2020-05-30 03:55] gusparis commented on #4
Hey! I was actually working on a callback for Android when clicking the overlay, plus a different approach for the iOS picker.

[2020-05-31 01:15] Zonfer commented on #4
And how long do you think it will take to develop this improvement?

[2020-06-01 00:15] #3 closed

[2020-06-01 00:23] gusparis commented on #4
@Zonfer just made a couple of updates to both, Android and iOS. Can you check them?

[2020-06-01 02:36] Zonfer commented on #4
Where? The last release have 20 days old

[2020-06-01 02:50] gusparis commented on #4
npm. forgot to update GH tag versions, and the semantic+circle got fucked up somehow. will check it tomorrow after work.

[2020-06-04 17:19] #4 closed

[2020-06-05 17:27] harishmurali94 opened #7 "Help me out to get the cancel button call back"

[2020-06-05 17:31] gusparis commented on #7
Can you share me the piece of code you are using for the `onChange` callback?

[2020-06-05 18:02] harishmurali94 commented on #7
@gusparis  <MonthPicker
                  onChange={this._handleDatePicked}
                  value={new Date()}
                  minimumDate={new Date(2018, 5)}
                  maximumDate={new Date(2035, 5)}
                />
this is my onchange function
 _handleDatePicked = (event, newDate) => {
    console.log('EVENT', event);
}
on this when i click cancel i am not getting any response on

[2020-06-05 18:31] harishmurali94 commented on #7
@gusparis for me on android when i close the pop up using cancel and go to next page and come back to same page automatically the modal is getting opened without calling the picker. Facing the same when clicking outside the modal also

[2020-06-05 18:34] gusparis commented on #7
Will check about the event. Receiving it correctly on example. About the closing, are you setting the show/not show prop?

[2020-06-06 04:40] harishmurali94 commented on #7
Yes i am handling the show prop on my side

[2020-06-06 04:56] harishmurali94 commented on #7
how to get close button call back

[2020-06-06 05:11] harishmurali94 commented on #7
@gusparis Hi thanks for the time when i updated the library it is working fine

[2020-06-06 05:11] #7 closed

[2020-06-15 14:49] DaniyarJakupov opened #17 "TypeError: undefined is not an object (evaluating _reactNative.Appearance.getColorScheme)"
Thanks for the lib!

On iOS it throws an error:
`TypeError: undefined is not an object (evaluating _reactNative.Appearance.getColorScheme)`
Android works fine.

![Screenshot 2020-06-15 at 16 43 52](https://user-images.githubusercontent.com/17025967/84671414-a54b9200-af27-11ea-9897-b236b8669565.png)

Versions:
 "react": "16.9.0",
 "react-native": "0.61.5",

[2020-06-15 18:24] gusparis commented on #17
You're welcome! Unfortunately, `Appearance` was in RN 0.62.2 (https://reactnative.dev/docs/appearance). Either way, I should make a workaround for lower RN versions. Will try to make a new release today, end of my day.

[2020-06-23 09:37] DaniyarJakupov commented on #17
Thanks! Any update? :)

[2020-06-23 15:49] gusparis commented on #17
Hey! Sorry! Making a release to the stores right now and it's been crazy. I have the iOS fix, with some new features too, working on the Android changes to accept Dark Theme config as well (Android 10+). Will be doing a push tonight.

[2020-07-01 20:54] #17 closed

[2020-07-15 10:48] Atuldhaka opened #23 "Invariant Violation: requireNativeComponent: "RNMonthPicker" was not found in the UIManager."
This occurs when we try to use this library for typescript project, help needed.

[2020-07-15 13:54] gusparis commented on #23
Hey! I think this has nothing to do with you having typescript. Looks more like a linking issue. RN version? If you are on RN < 0.60 you will hace to perform the linking manually.

[2020-07-15 16:59] Atuldhaka commented on #23
Hi, actually i am using this in typescript and it is then asking for the types and when i try to install types with this  --------------->'@types/react-native-month-year-picker@latest' it says it is not in the npm registry. And i am using this library in  react native version : - 0.62.2 and i have followed these steps to install : -
1. npm install react-native-month-year-picker --save
2. npx pod-i

[2020-07-15 17:14] #23 closed

[2020-07-25 13:16] onebrunoo opened #26 "Expo"
Cannot read property 'open' of undefined for MonthPicker.

[2020-07-25 16:36] gusparis commented on #26
@onebrunoo you can't use this library with Expo. It states this very clearly in [the docs](https://docs.expo.io/introduction/faq/?redirected):

   The most limiting thing about Expo is that you can’t add in your own native modules without detaching and using ExpoKit. Continue reading the next question for a full explanation.

If you want to use anything that requires `react-native link`, then you

[2020-07-25 16:37] #26 closed

[2020-08-07 11:23] choudhary1200 opened #27 "App crashes while opening react native month year picker"
App is crashing when opening picker
Using:
"react-native": "0.62.2"
"react-native-month-year-picker": "^1.3.2",

Code:
import React, { useState, useCallback } from 'react';
import { View, SafeAreaView, Text,TouchableOpacity } from 'react-native';
import MonthPicker from 'react-native-month-year-picker';

const App = () => {
  const [date, setDate] = useState(new Date());
  const [show, setShow] =

[2020-08-07 12:59] gusparis commented on #27
@choudhary1200 The code you shared is working. Do you happen to have the error log?

[2020-08-08 09:07] choudhary1200 commented on #27
I am getting below native error
Didn't find class "java.time.instant"
See below attached screenshot for more details.

Device Info:
Android 7
minSdkVersion 19

![Screenshot_2020-08-08-14-27-54](https://user-images.githubusercontent.com/11774050/89706497-e2f6f500-d983-11ea-9b42-0f8e956efc11.png)

[2020-08-08 15:11] gusparis commented on #27
@choudhary1200 your Android version is lower 8.0. That's why the class is missing.

[2020-08-08 15:13] gusparis commented on #27
Let me see if I can introduce a lower version workaround

[2020-08-13 12:24] tirath2 opened #28 "Model opens up atuomatically when app come from background state to foreground state"
i have just copied your example code and it works fine when app is in foreground but when we put the app in background and open it up again that time the picker opens up automatically.please refer to the video attacked bellow.
versions

  "react": "16.13.1",
"react-native": "^0.63.1",
  "react-native-month-year-picker": "^1.3.2",

my code

`
/**
 * @format
 */

import Navigator from "@navigation/R

[2020-08-20 04:12] gusparis commented on #28
Thank you for using the library. Bug Fixed by #29

[2020-08-20 04:13] #28 closed

[2020-08-24 07:31] jackie-eb opened #31 "Date picker persists during a device screen timeout or device lock"
Date picker  persists during a device screen timeout or device lock. When the device is unlocked, the date picker is displayed regardless of the app state before screen lock

[2020-08-24 18:15] #27 closed

[2020-08-24 18:18] gusparis commented on #27
:tada: This issue has been resolved in version 1.3.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-month-year-picker/v/1.3.4)
- [GitHub release](https://github.com/gusparis/react-native-month-year-picker/releases/tag/v1.3.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-24 18:26] gusparis commented on #31
@jackie-eb Thank you for using the library! This is the expected behavior. The library is not managing app states. Check https://github.com/react-native-community/datetimepicker, also persisting when coming back from background. Nevertheless, the library had a bug on Android that will open the dialog always. That was fixed in #29.

[2020-08-24 18:28] #31 closed

[2020-08-26 02:23] sizhe-eb commented on #31
Works properly! Thx~

[2020-09-07 02:34] nolife08021 opened #33 "this.props.onChange is not a function"
Error when i press the ok button.

![Screen Shot 2020-09-07 at 10 32 01 AM](https://user-images.githubusercontent.com/49778835/92343108-6af02c00-f0f5-11ea-8b35-04d3e1e114b9.png)

[2020-09-07 02:45] gusparis commented on #33
@nolife08021 Thanks for using the library! You are not sending the `onChange` function to the component. Nevertheless, I marked that prop as optional in the README, so I should have to be perfoming a check before firing it.

[2020-09-09 20:39] waohwaohwaoh opened #34 "localization"
Hello, can you please tell me how to make localization for this picker, or is this function not yet implemented? If not, is it planned to be implemented in the near future?

[2020-09-09 20:46] gusparis commented on #34
Hello @waohwaohwaoh and thank you for using the library! Currently, the month names are being fetch on native sides, both by Java and Objective-C getting localized names based on phone settings. Is that what you need? Regards.

[2020-09-09 20:59] waohwaohwaoh commented on #34
Thanks for the quick answer, yes this is what I want, but on my emulator, the Russian language is specified in the settings, the names of the months are still in English. Does this work on an emulator or only on real devices?

[2020-09-09 21:01] gusparis commented on #34
mmm I really don't remember if it worked on the sim. Let me check on my personal device that's in Spanish

[2020-09-09 21:29] #34 closed

[2020-09-09 21:30] waohwaohwaoh commented on #34
Thanks for your work on the library and for your quick response. Could you please tell us the approximate terms of elimination of this defect

[2020-09-09 21:31] gusparis commented on #34
:tada: This issue has been resolved in version 1.3.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-month-year-picker/v/1.3.5)
- [GitHub release](https://github.com/gusparis/react-native-month-year-picker/releases/tag/v1.3.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-09 21:32] gusparis commented on #34
@waohwaohwaoh it was an easy fix. CI is already running...waiting for new version to be published

[2020-09-09 21:33] waohwaohwaoh commented on #34
a lot thx you, I will follow the update

[2020-09-10 13:52] gusparis commented on #33
@nolife08021 try new version (1.3.5). I made a null checking of onChange prop on #33

[2020-09-10 13:53] #33 closed

[2020-09-16 13:28] manoelramos opened #36 "Months do not follow the device's default language"
It would be interesting if the months were translated into the native language of the device. I believe the iOS DatePicker, do this by default.

[2020-09-16 13:29] #36 closed

[2020-09-16 13:30] gusparis commented on #36
hey @manoelramos! Thanks for using the library! I don't know what version you're using, but this is currently supported.

[2020-09-16 13:36] manoelramos commented on #36
I'm using the version 1.3.4. I closed the issue when I saw the issue #34

thanks for reply and nice job, man.

[2020-09-21 10:25] giftset opened #37 "on IOS, it's always dark mode"
on IOS,
even though i set enableAutoDarkMode as false, the color of picker is still dark mode style.

how can i fix this?

[2020-09-21 22:14] jennifersalas commented on #37
+1 I see this issue as well.

[2020-09-21 22:17] gusparis commented on #37
@giftset @jennifersalas Hello! Thanks for using the library! I'm aware of that issue. Currently working on a new release with a few improvements and fixes.

[2020-09-24 00:07] gusparis commented on #37
Fixed on #38

[2020-09-24 00:07] #37 closed

[2020-09-25 17:40] jennifersalas opened #39 "Receiving invalid date for all input on android"
As of 1.4.0, android side is returning 'Invalid Date' to the onChange callback for any value selected.

[2020-09-25 20:45] jennifersalas commented on #39
Fixed invalid date by changing MonthPicker.android.js line 29 to:

[code]

On a related note, the returned month does not match the selected month.
The maximum month/year is also off by one month.

[2020-09-25 23:24] jennifersalas opened #40 "On first load, the value does not match default"
On the first time loading the picker, the value is set incorrectly. This behavior is not present in the android version. Below the Value should have been September 2020.

<img width="377" alt="Screen Shot 2020-09-25 at 4 22 34 PM" src="https://user-images.githubusercontent.com/12005979/94323624-64621100-ff4b-11ea-8b2c-23655999dbb0.png">

[2020-09-29 01:35] gusparis commented on #39
Thanks for using the library! I will push a new version with the fix in an hour or two.

[2020-09-29 01:38] gusparis commented on #40
Hey @jennifersalas! Thank you for all your findings! I made some changes on latest version that broke this. Will upload a fix along with your other posted issue. 😊

[2020-09-29 05:24] #39 closed

[2020-09-29 05:24] #40 closed

[2020-09-29 05:31] gusparis commented on #39
:tada: This issue has been resolved in version 1.4.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-month-year-picker/v/1.4.1)
- [GitHub release](https://github.com/gusparis/react-native-month-year-picker/releases/tag/v1.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-29 05:31] gusparis commented on #40
:tada: This issue has been resolved in version 1.4.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-month-year-picker/v/1.4.1)
- [GitHub release](https://github.com/gusparis/react-native-month-year-picker/releases/tag/v1.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-07 10:42] lvegh opened #42 ""RNMonthPicker" was not found in the UIManager using Expo"
Hey,

First of all thanks for creating this datepicker.

I am using the following packages:
Expo: "expo": "^39.0.3"
"react-native": "^0.63.2"

I have installed the package using:
npm install react-native-month-year-picker --save

As per my knowledge there is no linking/autolinking in a managed expo project so the quesiton is how can i make it work?

When i tap on the button to show the datepicker

[2020-10-07 14:18] gusparis commented on #42
Hey @lvegh! Thank you for using the library. Unfortunately, Expo does not support libraries with nagive code. With Expo, you write just JavaScript and a set of native APIs that the Expo team maintains and upgrades. I leave you here a link to Expo documentation on third-party libraries for future reference: https://docs.expo.io/workflow/using-libraries/#determining-third-party-library-compatibility

[2020-10-07 14:20] #42 closed

[2020-10-08 20:22] dineshchaudhary923092 opened #43 "TypeError: value.getTime is not a function. (In 'value.getTime()', 'value.getTime' is undefined)"
Giving TypeError in both android and ios after upgrading to 1.4.1.

![Simulator Screen Shot - iPhone 11 - 2020-10-09 at 01 47 07](https://user-images.githubusercontent.com/17749863/95509266-e5042100-09d1-11eb-8ab3-aa7a212b48bc.png)
![WhatsApp Image 2020-10-09 at 01 47 36](https://user-images.githubusercontent.com/17749863/95509276-e7ff1180-09d1-11eb-9e01-f2ed5d4d9602.jpeg)

[2020-10-08 20:25] gusparis commented on #43
Thank for using the library! It looks like you're sending an incorrect `Date` object. Can you share the code of your implementation?

[2020-10-08 20:33] dineshchaudhary923092 commented on #43
const [month, setMonth] = useState(moment(new Date()).format('MM YYYY'))

const onValueChange = (event, newDate) => {
        setShowPicker(false);
        const selectedMonth = newDate || month;
        setMonth(selectedMonth);
}

<MonthPicker
        onChange={onValueChange}
        value={month}
        minimumDate={new Date(2019, 12)}
        maximumDate={new Date(2025)}
        enableAutoDark

[2020-10-08 20:48] gusparis commented on #43
Ohh, I see. You are sending a moment object with outputFormat. I have deprecated that prop to decouple the component. Just send a Date object, and handle the logic on your side, when calling onChange using the line you have in the useState.

[2020-10-08 21:18] dineshchaudhary923092 commented on #43
Working Perfectly, Thank you very much

[2020-10-08 21:24] #43 closed

[2020-10-15 19:24] mohamadmek opened #45 "Couldn't install it using yarn"
mohamadmek@Mohamads-MacBook-Pro centreminefrontend % yarn add @react-native-month-year-picker
yarn add v1.22.5
[1/4] 🔍  Resolving packages...
error An unexpected error occurred: "https://registry.yarnpkg.com/@react-native-month-year-picker: Request \"https://registry.yarnpkg.com/@react-native-month-year-picker\" returned a 405".
info If you think this is a bug, please open a bug report with the in

[2020-10-15 19:29] gusparis commented on #45
Hello! Thanks for using the library. I don't think this is the right way of opening an issue or bug, but anyway I made a typo on the readme for the yarn installation, it shouldn't have the @. Try `yarn add react-native-month-year-picker`. Let me know how it works

[2020-10-15 19:40] mohamadmek commented on #45
Hello, sorry this the first time I submit an issue it worked thank you so
much for your fast reply

On Thu, 15 Oct 2020, 10:29 pm Gustavo Dante Paris <notifications@github.com
wrote:

[2020-10-15 19:41] #45 closed

[2020-10-15 19:41] gusparis commented on #45
No worries! Stay safe ✌🏻

[2020-10-16 08:30] apgsn opened #46 "Customizable buttons"
Hi @gusparis,
first of all, thanks for developing this component, it's working great for me.
I was wondering if there's a way to customize the button section. Apart from "Cancel" and "Done", I'd like to add an extra button to perform a custom action (in my case, to trigger a date deletion in the component calling the picker), and I'd like to include it in the button section. Do you think it's feas

[2020-10-16 11:49] gusparis commented on #46
Hello @apgsn! Thanks for using the library! Hrmm interesting change request...the array you're suggesting could work for iOS out of the box, the issue with will be for Android and the dialog implementation I'm using. It will take me a little more to refactor to inflate the Dialog with custom buttons. An easy way would be to add an optional third button (called neutral on Android). Let me know your

[2020-10-16 12:15] apgsn commented on #46
I was able to hack an extra button in iOS by adding it as a child of your component, but Android gives me an error so it's impossible right now to do it.
I'd say any solution that gives me an extra button on both platforms is golden.

Another idea would be to give the users a way to import the bare calendars and use them as they please without extra modals, buttons, or fade animations.

[2020-10-16 12:20] gusparis commented on #46
Again the issue here is Android 🤪. You can have the iOS bare component right now, importing the ViewComponent directly (without the wrapper). On Android this cannot be done because is not a component, but a module that fires a Java method. To have the bare Android it will require a huge refactor.

[2020-10-16 12:23] apgsn commented on #46
I was digging through the code and saw that, bummer. But there's still a way to add a neutral button, right?

[2020-10-16 12:23] gusparis commented on #46
Yes. It will give you an error for what I said on my previous comment, is not a component but a module. Let me work on a poc for the buttons and then I'll upload it after working. 😞

[2020-10-19 15:46] gusparis commented on #46
@apgsn check new version 1.5.0 and let me know your thoughts about the new button. I will work next on a decouple version of the component, to give the freedom to use it anywhere, but leaving the Dialog/Modal available through props.

[2020-10-20 14:09] apgsn commented on #46
Hey man, great job! The neutral button is working as intended.
Thank you so much for this new feature. 👍

[2020-10-22 15:42] #46 closed

[2020-11-05 10:34] caglardurmus opened #49 "How can i show months just number?"
I want to show number of months how can i do it?

[2020-11-05 13:52] gusparis commented on #49
Hey @caglardurmus! Thanks for using the library. I could add a prop to handle that. Let me check.

[2020-11-06 00:42] gusparis commented on #49
Saw your solution in the forked branch, but you limited to numbers. I'm working on an approach with an enum as a prop to select numbers or month names.

[2020-11-08 20:53] #49 closed

[2020-11-08 20:55] gusparis commented on #49
:tada: This issue has been resolved in version 1.6.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-month-year-picker/v/1.6.0)
- [GitHub release](https://github.com/gusparis/react-native-month-year-picker/releases/tag/v1.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-11-23 14:17] tommaso-sebastianelli opened #52 "okButton & cancelButton not working (iOS)"
okButton & cancelButton props work on Android but don't work in iOS (default values are shown):

Simulator: iPhone 11 (iOS 13.2.2), iPhone 11 (iOS 14)
react native: 0.63.2
react-native-month-year-picker: 1.6.0

[2020-11-24 16:17] gusparis commented on #52
Hey @tommaso-sebastianelli Thank you for using the library. Nice catch, I missed it. I'll deploy a fix asap.

[2020-11-24 16:23] #52 closed

[2020-11-24 16:25] gusparis commented on #52
:tada: This issue has been resolved in version 1.6.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-month-year-picker/v/1.6.1)
- [GitHub release](https://github.com/gusparis/react-native-month-year-picker/releases/tag/v1.6.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-11-30 04:59] auliakbarh opened #54 "TypeError: null is not an object (evaluating '_RNMonthPickerDialogModule.default.open')"
I've an error when using MonthPicker from 'react-native-month-year-picker' (Android devices)
I guess it's happens because the auto linking doesn't run automatically. Is there any guide to install dependencies manually on Android and iOS?
<img width="298" alt="Screen Shot 2020-11-30 at 11 58 48" src="https://user-images.githubusercontent.com/5032631/100570487-75d8e800-3303-11eb-99b8-db193e9cc8f4.pn

[2020-11-30 15:49] gusparis commented on #54
Hello @auliakbarh! What's your RN version?

[2020-12-01 08:48] auliakbarh commented on #54
I'm using RN 0.62.2, and using existing the native app (ios & android)

[2020-12-01 12:55] gusparis commented on #54
Weird. That version already has autolinking. Did you build the app? Did you try running a gradle sync from Android Studio? Is this happening to you also on iOS?

[2020-12-03 21:45] gusparis commented on #54
I'll close this due to inactivity.

[2020-12-18 09:53] apgsn opened #57 "Neutral button stops firing (iOS)"
Hello again Gustavo,
I've been noticing an odd behavior on iOS with the neutral button you added in #48. Sometimes, after I've been using my app for a while, the button just stops firing the `NEUTRAL_ACTION` event. Unfortunately I don't have a code snippet to show you to replicate the problem, but it happens quite regularly and I'm still trying to figure out why. I'll keep you posted on the matter

[2020-12-18 12:15] gusparis commented on #57
Hey @apgsn ! How's it going?
That's some weird behavior you have there. Let me check. I think I might know why this is happening.

[2020-12-18 14:03] gusparis commented on #57
@apgsn I tried the component for about 15 min, and the neutral action is firing as expected. Please update with the steps to reproduce it once you have them. 👋🏼 👋🏼 👋🏼

[2020-12-18 14:32] apgsn commented on #57
Thanks for looking into it! Next week I'll see if I can find a way to replicate the bug consistently.

[2020-12-22 09:15] crystalcase opened #58 "Scroll multiple Items at once not possible (Android)"
When trying to scroll multiple months or years at once, the animation is shown but jumps back to the previous selected item. From a user perspective it feels weird to be resetted after scrolling a few months at once.

In my case only tapping item by item through the list makes it possible to select something.

Also as a sidenote: It would be awesome to be able to jump from December 2020 to January

[2020-12-22 14:35] gusparis commented on #58
Hey @crystalcase ! thanks for using the lib. Are you sure is not jumping back because you have set either a min or max dates?

[2020-12-22 14:38] gusparis commented on #58
Regarding the sidenote, I'm working on a month infinite scroll atm, to accomplish what you're proposing, but don't have an eta yet 😞

[2020-12-22 17:09] crystalcase commented on #58
Yes you are right, I set those props and forgot to change them. I set both to new Date() and did not notice it. Although max and min dates do not have the expected behaviour, because I can still select dates beyond. Just with single taps. I would expect everything beyond max and min being disabled. Is the current behaviour intended?

Sounds great, with fixing the scrolling it is fine and would jus

[2020-12-22 17:09] #58 closed

[2020-12-22 17:15] gusparis commented on #58
@crystalcase not expected, but on Android it has a weird behavior when you are fast-scrolling I couldn't fix. I'll give it a shot during the holidays.

[2020-12-22 17:24] crystalcase commented on #58
Not exactly what I mean. If January 2021 is max I can fast scroll to January 2021. With single tapping I can choose February 2021, too. Not what I expected by setting a max date

[2020-12-22 17:26] gusparis commented on #58
But when you tap on a date above max (or below min) it should go back to the previous set value. If not, there is a bug there.

[2020-12-22 17:29] crystalcase commented on #58
Maybe you should test it, but in my usage it looks like a bug

[2020-12-22 17:33] gusparis commented on #58
Will do. Keep posted for new versions. Thank you for taking the time to test the library and sharing your findings 👍🏼

[2020-12-23 04:03] nwpnkmngm opened #59 "RNMontPicker was not found in UIManager"
my code

  <MonthYearPicker
                locale="ko"
                onChange={date => console.log(date)}
                minimumDate={new Date()}
                maximumDate={new Date(2025, 5)}
                value={new Date()} />

[2020-12-23 13:56] gusparis commented on #59
hey! what RN version are you using? did you link the library? Are you running on Expo?

[2020-12-24 08:19] apgsn opened #60 "[Android] I can still select dates beyond minimumDate and maximumDate"
Hi again Gustavo,
I have yet another report: on Android, I set the maximum date to December 2020 with the prop `maximumDate={new Date()}`, but if I carefully and slowly drag the year column I can still select the next year (2021 in this case). I can't go any further that that luckily. The same goes with `minimumDate={new Date()}`, I can still select 2019.
Same story with months column on both dire

[2020-12-24 08:57] crystalcase commented on #60
I have experienced that too. I can go even further than only one. If 2010 is the limit, I can go as far as I want to. As long as I don't touch the other column, it does not get reset. Also it would be nice to disable everything beyond min and Max

[2020-12-24 13:16] gusparis commented on #60
Hey! Yeah, I'm aware of that glitch from the very begining...the native NumberPicker component has some weird behavior I had to fix with reflection in the past. I will take a look at it again. Feliz Navidad!

[2020-12-24 13:18] gusparis commented on #60
@crystalcase what do you mean with disable? take them away? lower the opacity?

[2020-12-26 05:51] gusparis commented on #59
I'll close this due to inactivity.

[2020-12-26 05:51] #59 closed

[2020-12-28 05:29] #60 closed

[2020-12-28 05:31] gusparis commented on #60
:tada: This issue has been resolved in version 1.6.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-month-year-picker/v/1.6.3)
- [GitHub release](https://github.com/gusparis/react-native-month-year-picker/releases/tag/v1.6.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-12-28 10:49] crystalcase commented on #60
I think both options are good, but I like lowering the opacity more. Like if you disable a TextInput

[2020-12-28 12:35] gusparis commented on #60
The opacity lowering cannot be achvied with NumberPicker, as far as I know. And on Android, it doesn't render many items ahead of selected.

[2020-12-28 14:58] gusparis commented on #57
Closed due to inactivity. Reopen if needed.

[2021-01-07 06:19] nwpnkmngm opened #62 "Error in release mode iOS"
I got error on release iOS application

when I select month and year on release I can get any year that I selected  but  I still got January month when submit.
It's work on simulator and debug mode on device.

[2021-01-08 03:30] gusparis commented on #62
hey @nwpnkmngm! thanks for using the library! Weird thing you're experiencing...I will look into it.

[2021-01-11 08:55] nwpnkmngm commented on #62
@gusparis  I'm not sure you have the same problem with me, I need you to try release iOS app out and test with this picker because I have problem with any picker like this one such as DatePicker etc.

[2021-01-11 12:33] gusparis commented on #62
Yeah, couldn't reproduce your issue. RN and iOS versions?

[2021-01-14 04:36] gusparis commented on #62
Closed due to inactivity.

[2021-01-14 04:36] #62 closed

[2021-01-17 13:53] agungs17 opened #63 "can you adding autotheme false/true to android?"

[2021-01-17 21:40] gusparis commented on #63
Hey! @agungs17 what do you mean? Having the light theme no matter phone's mode?

[2021-01-18 11:06] agungs17 commented on #63
I need theme mode to turn off and on light and dark mode or other options such as changing background color, text color, etc.

[2021-01-18 13:03] gusparis commented on #63
I'll label it as enhancement. Let me see what I can do.

[2021-01-18 16:03] agungs17 commented on #63
thankyou bro @gusparis

[2021-01-29 17:10] nani0531 opened #64 "Not supporting to all versions in android"
@gusparis this module is not working in some versions in the android 5 & 11, in android version 9 it is working,

i didn't checked in remaining versions also, only i tested in above mentioned versions. it was working only in android 9

not working in android 11 & 5

can you help me to fix this issue.
Thanks

[2021-01-29 17:14] nani0531 opened #65 "scrolling month and year at a time picker getting freez"
@gusparis  i tested the picker in different ways, it was getting freeze,
when i start scrolling the date and year same time, after some time application getting closed

can you help me in it to fix this issue.

Thanks

[2021-01-29 17:25] gusparis commented on #65
@nani0531 Hello! Platform?

[2021-01-29 17:26] nani0531 commented on #65
@gusparis android

[2021-01-29 17:27] gusparis commented on #65
Because of the way it is implemented, it is possible for that to happen. Who scrolls both pickers at the same time anyway? 🤔

[2021-01-29 17:27] gusparis commented on #65
Let me review it.

[2021-01-29 17:33] gusparis commented on #64
@nani0531 weird...I didn't use any high API specific method/annotation. It should work on API 16 (Android 4.1) and newer. And about API 30, I never tested on it yet. Let me take a look.

[2021-02-01 08:18] apgsn opened #66 "It's still possible to select a date beyond min/max"
The way you do it is by clicking the ok button before the scrolling animation outside min/max boundaries has ended.
Android only, v. 1.6.3.

[2021-02-01 16:51] gusparis commented on #66
Hey @apgsn! yeah...scrolling animation is causing a lot of issues on Android. I will have to remove it or disable the whole component while animating 🤷🏻‍♂️. I'll review it today afternoon.

[2021-02-01 17:37] apgsn commented on #66
Eventually I found a quick fix by testing the returned date against min/max values before invoking the callback associated to `ACTION_DATE_SET`, maybe you can do something like that but within the component.

[2021-02-01 17:38] gusparis commented on #66
hacky 😎

[2021-02-03 05:59] csohei opened #67 "[Request] Please provide index.d.ts for typescript"
Dear contributors.

I found this repo yesterday and am thinking this is exactly what I want.

However, since I am using the Typescript and cannot use the component without suppressing type error.
To use your component, I would like you to provide the typedef as a part of the code provided.

If you do not mind me contributing, I can make PR by myself in this weekend or next week.

Best Regard

**Re

[2021-02-03 13:38] gusparis commented on #67
Hey @csohei! How's it going? Yes, adding ts support was on my routemap, but couldn't find the time yet to work on it. If you want to contribute go ahead! I'd gladly review your PR and help you with anything you need.

[2021-02-14 20:55] agungs17 commented on #63
any update?

[2021-02-15 01:06] gusparis commented on #63
Hey! how's it going? it's been crazy these couple of weeks. Have a lot of issues reported on the lib that I couldn't take care of. I will work on them this week for sure.

[2021-02-18 09:20] tamir61 opened #68 "Is there a way not to present the wheel inside the modal?"
Hi,
basically, I need only the wheel picker itself without the modal functionality.

is there a way to do it?

Thanks

[2021-02-22 04:58] #63 closed

[2021-02-22 04:58] #65 closed

[2021-02-22 04:58] #66 closed

[2021-02-22 05:09] gusparis commented on #63
:tada: This issue has been resolved in version 1.6.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-month-year-picker/v/1.6.4)
- [GitHub release](https://github.com/gusparis/react-native-month-year-picker/releases/tag/v1.6.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-22 05:09] gusparis commented on #65
:tada: This issue has been resolved in version 1.6.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-month-year-picker/v/1.6.4)
- [GitHub release](https://github.com/gusparis/react-native-month-year-picker/releases/tag/v1.6.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-22 05:09] gusparis commented on #66
:tada: This issue has been resolved in version 1.6.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-month-year-picker/v/1.6.4)
- [GitHub release](https://github.com/gusparis/react-native-month-year-picker/releases/tag/v1.6.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-22 05:16] gusparis commented on #68
@tamir61 This has also been requested in the past. I will have to work mostly on the Android implementation of it, but I think it can be achieved. I'll keep you posted.

[2021-03-11 22:59] #64 closed

[2021-03-12 13:40] augustoost commented on #54
I've the same issue.

- RN version 0.63.4
- Expo with Bare workflow.

I've already try to link manually, but don't work as well.

[2021-03-12 18:53] augustoost commented on #54
I can't reproduce the error on iOS, so I don't know if this error happens only in the Android.

[2021-03-12 19:13] gusparis commented on #54
Ok, I'll reopen it. Can you share me your `android/settings.gradle` and your `android/app/build.gradle` files?

[2021-03-16 09:23] Rishabhcore7 opened #70 "Not showing Done and Cancel Button on IOS"
React Native version :0.59:4

[2021-03-16 09:48] Rishabhcore7 commented on #70
Thanks Resolved , Linked Manually.

[2021-03-16 13:17] mixermat99 commented on #54
i have the same issue using Expo client, RN version: 0.63.2

[2021-03-16 13:49] gusparis commented on #70
@Rishabhcore7 hello! thanks for using the library. A very weird issue...can you send a screenshot of it? also, are you sending some label props to the component, or trying to use the default ones?

[2021-03-16 13:50] gusparis commented on #54
@mixermat99 the component is not compatible with Expo, at least not with the Managed workflow. Are you using Bare?

[2021-03-16 13:53] mixermat99 commented on #54
No, i'm using Managed Workflow

[2021-03-16 13:54] gusparis commented on #54
@mixermat99 check my edited comment. I'm sorry, but Expo won't support it.

[2021-03-16 13:56] mixermat99 commented on #54
Ok, thanks very much

[2021-03-16 14:07] gusparis commented on #54
@mixermat99 sorry you can't use it! 😔

[2021-03-16 14:36] mixermat99 commented on #54
nothing, your library for me is the best moth/year picker online, is for this reason that i would use that

[2021-03-16 15:12] gusparis commented on #70
@Rishabhcore7 Not working as expected with RN < 0.60, as stated on project peer dependencies.

[2021-03-16 20:14] #70 closed

[2021-03-30 07:49] tnguven opened #71 "Focus on scroll"
It would be nice to have a way to focus on scroll Months.

[2021-03-31 15:42] gusparis commented on #71
Hey @tnguven thanks for using the library. I don't think I understand your request. To focus what?

[2021-03-31 15:49] tnguven commented on #71
I am sorry for the short info. I am trying to implement accessibility features around this component and I need a functionality to focus on to month or year scroll.

[2021-03-31 15:58] gusparis commented on #71
So you mean an imperative way to set the date?

[2021-03-31 17:16] gusparis commented on #71
No problem...I can add that in next release, maybe tomorrow or Friday. I'll keep you posted. Cheers.

[2021-04-16 06:19] SaadBinWaheed-empglabs commented on #67
Any update on TS support?

[2021-04-28 13:44] vksgautam1 commented on #54
we have version of 0.59.4 and have this issue , is there any solution for it

[2021-04-29 07:33] Rishabhcore7 commented on #54
i'm getting the same crash in 0.59.4, can someone help me please.

[2021-04-29 11:53] gusparis commented on #54
Hey! I was off. I recommend using RN 0.60+, there are some issues with lower versions. Either way, I'll set up a 0.59 env to check Android.

[2021-05-08 06:33] SmirnovM91 commented on #57
Hello, I have the same problem

[2021-05-08 06:51] SmirnovM91 commented on #57
I've fixed it by replacing `nil` to `self` at 41 line in RNMonthPicker+Toolbar.m

`UIBarButtonItem *neutralButton = [[UIBarButtonItem alloc] initWithTitle:_neutralButtonLabel style:UIBarButtonItemStylePlain target:self action:@selector(onNeutralButton)];`

[2021-05-13 07:11] A1ik opened #78 "How update a locale date.formats.short?"
Hello. How  update a locale date.formats.short?

[2021-05-31 07:08] minhtbvnist commented on #54
i'm getting the same crash in 0.63.3, can someone help me please. (Android)
![192656333_543687363703545_2115853174232145014_n](https://user-images.githubusercontent.com/67574123/120154000-95e95580-c219-11eb-91a0-01de635a141d.jpg)

[2021-06-02 14:38] androidfanatic commented on #67
+1

[2021-06-05 00:56] cloudscore opened #79 "Customizable button colors"
Can button colors be customizable? Default color doesn't align with our app theme.

[2021-06-18 18:24] PunainenAurinko commented on #57
This is still happening in v.1.6.4. After a while of use (multiple month/year) combinations being selected, the neutral button click stops triggering any event at all. I think the above code would fix this issue. Is it possible to make that change in the module?

[2021-07-09 19:12] PunainenAurinko commented on #57
@gusparis Hi Gustavo, why was this closed? This issue is still happening in v. 1.6.4. Neutral button randomly stops firing on iOS (I'm on 14.6). SmirnovM91 solution works but needs to be included in the library as a PR.

[2021-07-10 03:54] gusparis commented on #78
@A1ik set `mode` prop to `short` and `locale` prop to your desired locale. it will get phone's locale as default.

[2021-07-10 03:54] #78 closed

[2021-07-10 03:55] gusparis commented on #79
hey @cloudscore which buttons are you referring to?

[2021-07-10 04:22] #57 closed

[2021-07-10 04:40] gusparis commented on #57
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-month-year-picker/v/1.7.0)
- [GitHub release](https://github.com/gusparis/react-native-month-year-picker/releases/tag/v1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-16 16:11] Abhinandan-Kushwaha opened #85 "Months not looping"
Months are not looping on scroll. If the wheel is focused on January, and I scroll up, It should go to December-November...

[2021-07-19 00:03] #85 closed

[2021-07-19 10:04] chamila-ascentic opened #88 "Issue after installing mac os big sur - Execution failed for task ':react-native-month-year-picker:compileDebugJavaWithJavac'."
Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0.
Use '--warning-mode all' to show the individual deprecation warnings.
See https://docs.gradle.org/6.1.1/userguide/command_line_interface.html#sec:command_line_warnings
348 actionable tasks: 2 executed, 1 from cache, 345 up-to-date

FAILURE: Build failed with an exception.

* What went wrong:
Execution faile

[2021-07-20 09:39] andreyboberskiy-dev opened #89 "Android: Method addObserver must be called on the main thread"
![image](https://user-images.githubusercontent.com/82810462/126299826-55e97e64-ad33-43cc-8be1-6c984ec50a08.png)

**Component code:**

`import React, {memo, useCallback, useMemo, useRef, useState} from 'react';
import format from 'date-fns/format';
import MonthPicker, {ACTION_DATE_SET} from 'react-native-month-year-picker';
import {Platform} from 'react-native';

import {Container, Modal, PaymentTe

[2021-08-01 00:44] andraantariksa opened #90 "Empty modal"
![image](https://user-images.githubusercontent.com/9760691/127755598-863dc24a-0be9-4c0a-b10e-2bf7f30287f5.png)

Version used: 1.8.0

[code]

[2021-08-05 03:14] cengit opened #92 "iOS: Not showing Done and Cancel Button on first render, scroll the spin crash the app"
React Native version :0.63.3

- when first enter the page and trigger the month-year-picker, Not showing Done and Cancel Button. at this time scroll the spin would some times make the app crash.
- navigate to other page and navigate back, re-trigger the month-year-picker, it works fine.

as it would crash the app, I guess is there some code issue in this situation?

attached the screen and video.

[2021-08-05 05:57] cengit commented on #92
I found the root cause: when the locale=null, it would reproduce above issue

use below code would fix the problem.
[code]

closing the issue

[2021-08-05 05:57] #92 closed

[2021-08-06 10:58] longhuynhthanh opened #93 "Android don't close modal when click okButton"

[2021-08-06 16:30] jeandejavu commented on #67
+1

[2021-08-09 17:32] cloudscore commented on #79
All the buttons. Ok, cancel and neutral. As to align with app theme the separators better be customizable as well.

[2021-08-11 09:53] ichiyouji commented on #93
same issue, it's flickering when opened, I think it's opening 3-4 popups on top of each other

[2021-08-14 11:41] cr0nil opened #95 "September on android is trimmed"
September on android is trimmed

[2021-08-17 12:07] vlad-ps commented on #95
Same thing here. Galaxy Note 10+, big phone with lots of real estate. September is trimmed at both ends. Need to increase left and right padding.

![Screenshot_20210817-080649_LightningBolt.jpg](https://user-images.githubusercontent.com/75272184/129722799-5fb1b424-1c17-450d-96df-0f91b76ca658.jpg)

[2021-08-22 03:16] vlad-ps commented on #95
@gusparis Any poasibity that this may be fixed?

[2021-08-30 09:49] cengit commented on #95
@vlad-ps try this:
[code]

[2021-08-30 12:36] vlad-ps commented on #95
That's exactly what I did as a workaround. But it's not really a solution if you want full month names in there.

[2021-09-23 20:38] imnotvirus commented on #54
I have the same problem using EXPO

[2021-10-15 08:01] eminsr commented on #67
Please check out the PR #99 and feel free to improve if necessary.

[2021-11-01 20:50] dexterowy opened #101 "Possibility to provide month names"
Translated months to polish are not grammatically correct if there is no day column before (like it's in original picker). It would be cool to provide prop with mappings or something

[2021-11-02 20:58] PunainenAurinko commented on #93
This used to be working fine in v. 1.6.4. After latest library upgrades I have also started having this issue. Can something be done about it? This is the only RN library for a standalone month year that looks native, it's a shame it doesn't always work correctly.

[2021-11-04 06:00] illusorytapirus opened #102 "[IOS] Picker width does not update after orientation change"
MonthPicker.ios.js

[code]
When the orientation updated to landscape, the width remains unchanged.
The picker width is less than the screen width.

[2021-12-14 04:15] ivanichi opened #103 "selectedDate not working"
using hooks, if you click another month and year, always returns to the current month and year. RN 0.63.4

[2022-01-31 20:47] PunainenAurinko commented on #93
@gusparis Is there an update on when this issue could be fixed? Thanks!

[2022-02-08 15:06] creativemind1 commented on #103
post your code

[2022-02-17 13:02] CharlesLB opened #106 "Is there a option to show only years?"

[2022-02-22 19:49] #89 closed

[2022-02-22 19:50] #67 closed

[2022-02-28 10:15] ArnoldBrown commented on #79
Hi @gusparis is there any update regarding this? Update on this will be helpful.

[2022-03-03 03:26] bigbean17 commented on #70
I got the same issue, my RN is 0.64
![image](https://user-images.githubusercontent.com/69971426/156490299-9c2a8b2d-7ea2-4a5a-ad74-cd915755b7ec.png)

[2022-03-04 08:15] knifedge opened #110 "A problem occurred configuring project ':react-native-month-year-picker'."
com.android.builder.errors.EvalIssueException: compileSdkVersion is not specified. Please add it to build.gradle
Getting the above error on RN V0.67.2. Anyone facing similar issue?

[2022-03-04 15:41] tjlondon-npauctions commented on #110
Same problem on 0.66.4. I don't think this works with the newer mavenCentral RN configuration.

[2022-03-05 03:04] scsman opened #111 "Hi, is there any way to change month and year columns position?"
I want to display the year column which is before the month column like 2022 February instead of February 2022, is it posible?
thank you...

[2022-03-11 07:31] sfukuyoshi opened #112 "Is it possible to have an update for an option to force it to use gregorian calendar or any calendar?"
I've tried editing the commented part to

gregorian = [[NSCalendar alloc] initWithCalendarIdentifier:NSCalendarIdentifierGregorian];
        df = [[NSDateFormatter alloc] init];
        df.calendar = gregorian;

and it works forcing it to Gregorian. Is it possible to have an option at your end? Thank you.

<img width="719" alt="image" src="https://user-images.githubusercontent.com/30580038/1578221

[2022-03-14 12:33] FraserCampbell1 opened #113 "Error when opening month year picker then backgrounding app"
When I background the app while the month year picker is open I get the following error on Android

E/AndroidRuntime: FATAL EXCEPTION: main
    Process: myapp, PID: 5600
    java.lang.IllegalStateException: Can not perform this action after onSaveInstanceState
        at androidx.fragment.app.FragmentManager.checkStateLoss(FragmentManager.java:1844)
        at androidx.fragment.app.FragmentManager

[2022-03-17 01:50] jimzqw opened #114 "Compile issue for Android"
ran into the below error when trying to compile Android. Does anyone know to fix that?
[code]

[2022-03-22 11:48] FraserCampbell1 commented on #113
Upon further investigation this error looks to only get logged in Android 8. However when testing on Android 9 and greater the same issue occurs.

The scenario is to open the month year picker then background the app. The picker looks to be rendering multiple times and isn't handling the app state changing very well

[2022-04-05 10:06] search654321 commented on #59
Hi get the same issue, I'm on expo

[2022-04-06 09:24] msaadqureshi opened #117 "Plugin with id 'maven' not found"
**Using Gradle up to 7.x**

1: Task failed with an exception.
-----------
* Where:
Build file 'F:\ProjectName\node_modules\react-native-month-year-picker\android\build.gradle' line: 24

* What went wrong:
A problem occurred evaluating project ':react-native-month-year-picker'.

2: Task failed with an exception.
-----------
* What went wrong:
A problem occurred configuring project ':react-native-mo

[2022-04-06 13:03] dexterowy opened #118 "[android] Build error. Gradle 7 support."
React Native `0.67.x` [now uses Gradle 7 ](https://github.com/facebook/react-native/blob/main/gradle/wrapper/gradle-wrapper.properties#L3) which has removed `maven` in favor of `maven-publish`.

Library is not building anymore.

[2022-04-06 15:37] pedrogarciyalopez commented on #68
@gusparis is there any progress?

[2022-04-16 03:09] bumjoo commented on #114
I have same problem.

[2022-04-16 03:09] bumjoo commented on #117
I have same problem.

[2022-04-18 03:17] bumjoo commented on #118
I have same problem.

[2022-04-22 17:03] phuocantd commented on #118
+1

[2022-04-22 17:04] phuocantd commented on #117
+1

[2022-05-13 16:57] Nikita-Shuminskiy commented on #118
++

[2022-05-18 08:20] karunais13 commented on #118
++

[2022-05-19 07:45] shumkapoh commented on #118
Credits to: @karunais13 🥳

1. Follow this PR #116
And you would get the error

2. Fix this issue at this line by replacing
[`Line 112`](https://github.com/gusparis/react-native-month-year-picker/blob/c7e190693f13dd8adaece459770225249ca0d843/android/build.gradle#L112)

with
[code]

3. Then rebuild the project

Tested on:
Device: Android Emulator
Version: API 30 (R)

[2022-06-20 12:59] vksgautam1 commented on #117
same issue

[2022-06-22 16:25] ryandever commented on #54
Please does anyone solved this problem? I'm using RN 0.68.2 and got the same problem

[2022-07-01 11:59] Jeeying opened #126 "update npm package"
react-native 0.68.2
use this [fix](https://github.com/gusparis/react-native-month-year-picker/pull/116), will build success

---

react-naitve 0.69.0, 0.69.1
use this [fix](https://github.com/gusparis/react-native-month-year-picker/pull/116), build error

Error:
[code]

after I remove this line, build success

`build.gradle`
[code]

[2022-07-04 06:32] Noma98 commented on #118
I replaced
`classpath += files(project.getConfigures().getByName('compile')".AsList()`
with `project.getConfigures(.)getByName('implementation')".setCanBeResolved(true)
classpath += files(project.getConfigurations().getByName('implementation').atList())`

But, the following error occurs.
`
A problem occurred configuring project ':react-native-month-year-picker'.

`
Here's the code.

node_modules/r

[2022-07-18 07:40] widianapw commented on #68
Hi @gusparis , is there any updates?

[2022-07-20 11:59] tasaquino commented on #102
Hello @illusorytapirus ! Did you manager to fix the issue somehow?

[2022-08-04 04:48] vg3900 commented on #117
Same Issue.
I can see that the PR for this issue is merged with the master.
@gusparis Please release the new version of the package.

[2022-08-20 07:32] Tanvir-rahman opened #130 "Ui Breaking for Longer Text"
UI is breaking for longer text
![Screenshot_1660980492](https://user-images.githubusercontent.com/15964566/185734250-65e0dc5b-d282-464b-acea-c8684cbd9e32.png)

Also some props to pass inside container styling would be a nice addition.

[2022-08-24 19:35] AbdullhRtima commented on #117
Is this issue been solved or not I am still facing this error?

[2022-08-24 23:42] #126 closed

[2022-08-30 03:49] hoangduong9112 opened #132 "Issue on Android with version 1.8.2"
`
error Failed to install the app. Make sure you have the Android development environment set up: https://reactnative.dev/docs/environment-setup.
Error: Command failed: ./gradlew app:installDebug -PreactNativeDevServerPort=8081
Note: /Users/dhd/InfraTech/MAStock/m-a-stock-mobile/node_modules/react-native-gradle-plugin/src/main/java/com/facebook/react/codegen/generator/SchemaJsonParser.java uses or

[2022-08-30 03:52] hoangduong9112 commented on #132
I found a solution for this issue. I use patch-package (https://www.npmjs.com/package/patch-package) to fix lib (react-native-month-year). In /node_modules/react-native-month-year-picker/android/build.gradle. remove line 115:   classpath += files(project.getConfigurations().getByName('implementation').asList())

[2022-08-30 12:13] Rutheniceye92 commented on #93
This worked for me.. had move setShow() call on top of onValueChange function.

[2022-09-01 04:27] jeffreynerona commented on #132
getting the same issue
@gusparis  https://github.com/gusparis/react-native-month-year-picker/pull/133

[2022-09-15 14:07] yasithg commented on #130
@Tanvir-rahman  did you find a fix for this ?

[2022-09-22 14:14] NetPumi2 commented on #118
in my case, the problem was the opposite I had to comment

and all works fine ... I think that PR broke something else

[2022-10-03 15:19] iamaralinvestplay commented on #132
I have the same issue

[2022-10-05 13:33] edohartono opened #134 "Could not resolve com.facebook.react:react-native:+"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-month-year-picker@1.8.2` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-10-09 01:08] #68 closed

[2022-10-28 20:01] taatiq882 opened #135 "Month Automatically jumping back to where it is being moved"
Hello, I have this weird behavior, Can anyone here help me out with why is this happening? I have attached a vide.
[code]

https://user-images.githubusercontent.com/30371302/198722446-2ac9ccaf-537c-4fbf-b652-e251c762a5da.mov

[2022-10-31 03:59] phamhieu1412 opened #136 "build app fail"
today when i build app on android, i have error. what happen?
react-native: 0.63.2
react-native-month-year-picker: 1.8.1

<img width="891" alt="Screen Shot 2022-10-31 at 10 56 41" src="https://user-images.githubusercontent.com/48906710/198928198-fd46f5b3-9f93-444e-9916-4fc51b8b0fbe.png">

[2022-10-31 05:11] TOPSinfo commented on #136
+1

[2022-10-31 05:13] ydv0121 commented on #136
+1

[2022-10-31 05:36] TOPSinfo commented on #136
#35136

[2022-10-31 07:07] yasithg commented on #136
@phamhieu1412 @ydv0121 any solution yet ?

[2022-10-31 08:12] ydv0121 commented on #136
Incident resolved

https://status.gradle.com/

[2022-11-01 07:29] Shahanshah87 commented on #135
Hey did you find any solution?

[2022-11-01 07:53] taatiq882 commented on #135
Nop I couldn't find any solution for that.

[2022-11-02 17:09] bkcan commented on #135
@taatiq882 You need to update the `value` prop. Refer to the [Usage section](https://github.com/gusparis/react-native-month-year-picker#usage)

Pseudocode:
[code]

[2022-11-07 08:07] semcak1 commented on #132
I had same issue and @hoangduong9112  's solution worked for me

[2022-11-07 08:09] semcak1 commented on #132
İ had same issue and removing 115. line worked for me to solve this problem. But is it safe ?

[2022-11-08 05:17] onnij commented on #134
I think the actual root cause is probably because of this:

https://github.com/facebook/react-native/issues/35210

[2022-11-10 22:54] tacianoscur opened #139 "Error when building app - Could not resolve all files for configuration ':react-native-month-year-picker:implementation'"
When running the app on android, I get this error: "Could not resolve all files for configuration ':react-native-month-year-picker:implementation'", here's the screenshot:

My RN version is `0.70.3` and react-native-month-year-picker version is `^1.8.2`.

![image](https://user-images.githubusercontent.com/53914601/201222588-32ab56f8-57a8-4844-8dca-9ded8d0c3298.png)

I was able to fix it when remov

[2022-11-11 15:34] #54 closed

[2022-11-11 16:58] gusparis commented on #88
@chamila-ascentic try cleaning up cache. Tested myself the project on a M1 chip running OS Ventura.

[2022-11-11 16:58] #88 closed

[2022-11-11 17:01] gusparis commented on #106
@CharlesLB no as is not the goal of this library. Nevertheless that can be easily achieved using the default picker (just one row option)

[2022-11-11 17:01] #106 closed

[2022-11-11 17:08] gusparis commented on #101
@dexterowy wow, wasn't aware of that! let me check about built-in translations before allowing a custom list, because it can make the component to be used in a different way as it was intended.

[2022-11-11 17:10] gusparis commented on #135
@taatiq882 not a bug. you set the maximum date to June 2025, if you go pass that date, it will scroll back to the maximum. Remove `maximumDate` if it was not intended, or increase the limit date.

[2022-11-11 17:10] #135 closed

[2022-11-14 14:11] sudharsanvishnu commented on #139
same error

[2022-11-16 12:43] ydv0121 commented on #139
+1

[2022-11-16 14:40] gusparis commented on #139
Hello! Thanks for using the library! I've been working on this one and a couple of other issues reported. I'm hoping to have a new version by EOW. Regards!

[2022-11-22 19:34] jimsideout commented on #139
@gusparis and update on this?

[2022-11-24 02:02] sazzadh88 commented on #139
@gusparis I have same issue

`* Where:
Build file 'C:\Users\sazza\Projects\ReactNative\taxi\node_modules\react-native-month-year-picker\android\build.gradle' line: 115

* What went wrong:
A problem occurred configuring project ':react-native-month-year-picker'.

     Required by:
         project :react-native-month-year-picker

          - debugVariantDefaultRuntimePublication
          - release

[2022-11-28 21:48] gusparis commented on #114
fixed on #140

[2022-11-28 21:48] #114 closed

[2022-11-28 21:49] gusparis commented on #117
Fixed on #140. Can you guys check?

[2022-11-28 21:49] #117 closed

[2022-11-28 21:49] gusparis commented on #118
Fixed on #140. Can you guys check?

[2022-11-28 21:49] #118 closed

[2022-11-28 21:50] gusparis commented on #111
Hello @scsman! thanks for using the lib. That could be a nice enhancement. I can work on it after solving a couple of issues.

[2022-11-28 21:51] gusparis commented on #136
Fixed on #140. Can you guys check?

[2022-11-28 21:51] #136 closed

[2022-11-28 21:51] gusparis commented on #132
Fixed on #140. Can you guys check?

[2022-11-28 21:51] #132 closed

[2022-11-28 21:51] gusparis commented on #134
Fixed on #140. Can you guys check?

[2022-11-28 21:51] #134 closed

[2022-11-28 21:51] gusparis commented on #139
Fixed on #140. Can you guys check?

[2022-11-28 21:51] #139 closed

[2022-11-28 21:52] gusparis commented on #113
@FraserCampbell1 I'll take a look at this one 👀

[2022-11-28 21:53] gusparis commented on #130
@Tanvir-rahman hello! I'll take a loot at this one. Thanks for using the library!

[2022-11-28 21:55] gusparis commented on #95
Related to #130

[2022-11-28 21:56] gusparis commented on #90
@andraantariksa hrmm I couldn't reproduce this one. Maybe a device theme color issue?

[2022-11-29 01:09] randspace0 commented on #90
Sorry I also couldnt reproduce this issue anymore.

[2022-11-29 01:09] #90 closed

[2022-11-29 15:51] gusparis commented on #79
hello! yes, I will be adding this enhancement in next build. I was working on fixing the multiple build issues we had. Feel free to commit the changes you would like and will gladly review them. Cheers!